extends layout

block content
  div.container
    div.jumbotron
      h2: i.ion-android-checkmark-circle Proof Assistant
        small(style="font-size: 20px;") beta
      p Proof Assistant is a platform to enable Logic students to write, verify, store, and share #[a(href="https://en.wikipedia.org/wiki/System_L") System L] style Natural Deduction proofs. Proofs are checked for correctness in real-time, and provides informative error messages. The project was developed as part of the #[a(href="http://l4f.cecs.anu.edu.au/") Logic4Fun] initiative during #[a(href="http://lss.cecs.anu.edu.au/") Logic Summer School]Logic Summer School, 2015.
      p Powered by the following technologies:
      li Javascript
      li Node.js
      li MongoDB
      li ANTLR4
      li Bootstrap
      br
      h6 Developed by:
      li #[a(href="https://www.surajx.in/") Suraj Narayanan Sasikumar]
      li Boris Repasky
      h6 Advisor: Prof. #[a(href="https://users.cecs.anu.edu.au/~jks/") John Slaney]
