extends layout

block content
  div.container
    div.jumbotron
      h2: i.ion-android-checkmark-circle Proof Assistant
        small(style="font-size: 20px;") beta
      p This is a prototype for a Natural Deduction Proof Assistant as part of the #[a(href="http://l4f.cecs.anu.edu.au/") Logic 4 Fun] Initiative. Powered by the following technologies
      li Javascript
      li Node.js
      li MongoDB
      li ANTLR4
      li Bootstrap
      br
      h6 Developed by:
      li Suraj Narayanan S
      li Boris Repasky
      h6 Advisor: Dr. John Slaney
