extends layout

block content
  div.container
    div.jumbotron
      h2: i.ion-android-checkmark-circle Proof Assistant
      p This is a prototype for a Natural Deduction Proof Assistant as part of the #[a(href="http://l4f.cecs.anu.edu.au/") Logic 4 Fun] Initiative. Powered by the following technologies
      li Javascript
      li Node.js
      li Jade
      li MongoDB
