doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    block css
      link(rel='stylesheet', href="/components/bootswatch/paper/bootstrap.min.css")
      link(rel='stylesheet', href="/components/ionicons/css/ionicons.min.css")
      link(rel='stylesheet', href='/css/style.css')
    block js
      script(src="/components/jquery/dist/jquery.min.js")
      script(src="/components/bootstrap/dist/js/bootstrap.min.js")
      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')
  body
    nav.navbar.navbar-default.navbar-static-top
      div.container
        ul.nav.navbar-nav
          a.navbar-brand(href="/"): i.ion-android-checkmark-circle &nbsp;Proof Assistant
          if user
            li: a(href="/dashboard") Dashboard
            li: a(href="/logout") Logout
          else
            li: a(href="/login") Log in
            li: a(href="/signup") Sign up
          li: a(href="/about") About
        ul.nav.navbar-nav.navbar-right
          if user
            li: a(href="/dashboard") #{user.email}&nbsp;&nbsp;
              if user.picture
                img.media-object.img-rounded(src=user.picture)
              else
                img.media-object.img-rounded(src='/img/default_userimage.png')
    a(href="https://github.com/surajx/proof-assistant"): img(style="position: absolute; top: 0; right: 0; border: 0; z-index: 9999;",src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67", alt="Fork me on GitHub", data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png")

    block content
