extends layout

block content
  div.container
    div.center-form.panel
      div.panel-body
        h4.text-center: i.ion-person-add &nbsp;Sign Up
        form.form-signin(action='/register', method='post')
          div.form-group.has-feedback
            input.form-control.input-lg(type='email', name='email', placeholder="Email", required=true, autofocus=true)
            span.ion-at.form-control-feedback
          div.form-group.has-feedback
            input.form-control.input-lg(type='password', name='password', placeholder="Password", required=true)
            span.ion-key.form-control-feedback
          //TODO: Implement noCAPTCH re-CAPTCHA
          if isSignupDirty
            div.alert.alert-danger.fade.in
              a.close(href="#", data-dismiss="alert", aria-label="close") &times;
              strong Error!
              p= errMsg
          p.text-center.text-muted
            small By clicking on Sign up, you agree to &nbsp;
              a(href="#") terms &amp; conditions
              | &nbsp;and&nbsp;
              a(href="#") Privacy Policy
          button.btn.btn-block.btn-primary(type='submit') Sign Up
          div.signup-or-separator
            h6.text or
            hr
          p.text-center.text-muted
            small Have an account?&nbsp;
              a(href="/") Log In
